.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre las tarjetas */
    justify-content: space-between; /* Distribuir uniformemente los items en el contenedor */
    padding: 0 20px; /* Agregar un pequeño margen a los lados del contenedor */
  }
  
  .product-grid::after {
    content: ''; /* Crea un pseudo-elemento */
    flex-grow: 999; /* Permite que este elemento crezca y empuje los items a la izquierda */
  }
  
  .product-card {
    width: 250px; /* Tamaño fijo de la tarjeta */
    background-color: #fff; /* Color de fondo de la tarjeta */
    border: 1px solid #ddd; /* Borde de la tarjeta */
    border-radius: 8px; /* Borde redondeado */
    padding: 20px; /* Espaciado interno */
    display: flex; /* Para alinear la imagen y el texto verticalmente */
    flex-direction: column; /* Alinear la imagen y el texto verticalmente */
  }
  
  .product-info {
    margin-top: auto; /* Empujar el contenido de texto hacia abajo */
  }
  
  .product-card img {
    max-width: 100%; /* Asegura que la imagen no se desborde de la tarjeta */
    height: auto; /* Mantener la proporción de la imagen */
  }
  
  